extends layout

block content
    .container    
        .logo-bar 
            .img-wrapper
                h1 
                    span#location-slide
            .img-wrapper
                h1 
                    span#logo-slide Trail Rate 
                img(src = 'http://cdn01.wallconvert.com/_media/wallpapers_1366x768/1/2/black-hills-and-white-mountains-11641.jpg')
    
        .btn-group.btn-group-justified       
            a.btn.btn-default(href= '/') Home
                .glyphicon.glyphicon-home
            a.btn.btn-default(href= '/trail-form') Add a Trail
            a.btn.btn-default(href= '/trails') All Trails
                br
        for trail in trails
            ul#trails.list-unstyled 
                    a.h1.location-text= trail.name
                .description    
                    p.h2 Trail Description 
                        li= trail.description
                    p.h2 Trail location    
                        li= trail.location

                    a(href = "/trails/delete/#{trail._id}")
                        .btn.btn-danger Romove
                    a(href = "/trails/single-trail/#{trail._id}")
                        .btn.btn-success Directions
