extends layout

block content   
        .logo-bar 
            #image-slide
                img(src ='/images/bike-hike.svg')        
            .img-wrapper
                h1 
                    span#logo-slide Trail Rate 
                img(src = 'http://cdn01.wallconvert.com/_media/wallpapers_1366x768/1/2/black-hills-and-white-mountains-11641.jpg')
    
        .btn-group.btn-group-justified       
            a.btn.btn-default(href= '/') Home
                .glyphicon.glyphicon-home
            a.btn.btn-default(href= '/trail-form') Add a Trail
            a.btn.btn-default(href= '/trails') All Trails
                br
        .container
            for trail in trails
                .single-trail-container
                    ul#trails.list-unstyled
                        
                        h2.glyphicon.glyphicon-circle-arrow-right.toggle-arrow
                        
                        a.h1.location-text= trail.name
                        h2.location-label= trail.location       
                        .description    
                            p.h2 Trail Description 
                                p= trail.description
                            p.h2 Trail location    
                                p= trail.location
                            .btn-group
                                a.btn.btn-danger(href = "/trails/delete/#{trail._id}") Remove
                                    //- .btn.btn-danger Romove
                                a.btn.btn-success(href = "/trails/single-trail/#{trail._id}") Directions
                                    //- .btn.btn-success Directions
                        

