extends layout

block content   
        .logo-bar    
            #logout-btn 
                a(href="/logout")
                    .btn.btn-default.pull-right logout
                .btn-group.pull-right#mobile-menu
                    button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                        .glyphicon.glyphicon-align-justify
                    ul.dropdown-menu
                        li
                            a(href="/index") home
                            a(href="/trail-form") Add Trails
                            a(href="/trails") View Trails
                            a(href="/logout") Logout         
            .img-wrapper
                h1 
                    span#logo-slide Trail Log
                h1
                    span#info-slide All Trails     
                img#mountain-div(src='/images/mountains.jpg')

        .btn-group.btn-group-justified       
            a.btn.btn-default(href= '/') Home
                .glyphicon.glyphicon-home
            a.btn.btn-default(href= '/trail-form') Add Trails
            a.btn.btn-default(href= '/trails') All Trails
        .container#show-js
            for trail in trails
                .single-trail-container
                    ul#trails.list-unstyled
                        
                        h2.glyphicon.glyphicon-circle-arrow-right.toggle-arrow(data-toggle="tooltip", data-placement="bottom", title="Click on Arrow for More Information")
                        
                        span.h1.location-text= trail.name
                        h2.location-label= trail.location       
                        .description    
                            p.h2 Trail Description 
                                p= trail.description
                            p.h2 Trail location    
                                p= trail.location
                            .btn-group
                                a.btn.btn-danger(href = "/trails/delete/#{trail._id}") Remove
                                    //- .btn.btn-danger Romove
                                a.btn.btn-success(href = "/trails/single-trail/#{trail._id}") Directions
                                    //- .btn.btn-success Directions
                        

